/* ROSSO = #da0f16
GRIGIO = #c2c2c2
train with us section color : ##f5f5f5

*/
/* ----------------------------------------------- */
/* PROPRIETA' DI BASE */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html,
body {
    background-color: #fff;
    color: #1e272e;
    font-family: 'Karla', 'Arial', sans-serif;
    font-size: 20px;
    max-width: 100vw;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
/* ----------------------------------------------- */
/*proprietà grid */
/* ----------------------------------------------- */

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/*COMPONENTI RIUSABILI */
/* ----------------------------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 20px 0;
    max-width: 100vw;
    max-height: auto;
}

/* ----------------------------------------------- */
/*INTESTAZIONI */
/* ----------------------------------------------- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 260%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #da0f16;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 700;
    margin:0;
}
.section-corsi h2{
  background-color: #f7f7f7;
  font-weight: 400;
  margin-top: 6%;
}
.trainers h2{margin-top: 30px;}
.section-plans .row h2{
  margin:12% 0 ;
}

/* ----- PARAGRAFI ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin: 0 auto;
    margin-top:20px;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}
/* ----- HEADER ----- */
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.9))), url(img/header2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(img/header2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-height: auto;
  min-width: 100vw;
  background-attachment: fixed;
}
.box {
    padding: 1%;
}
.logo {
    height: 60px;
    width: auto;
    float: left;
    margin-top: 1%;
}
/* NAVIGAZIONE PRINCIPALE */
nav {
    overflow: hidden;
    background: rgba(0, 0,0, 0.8);/* Green background with 30% opacity */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    min-height:10vh;
    max-height: auto;
    z-index: 100;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 1%;
}
.main-nav li {
    display: inline-block;
    margin-left: 10px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
}
.main-nav li a:hover,
.main-nav li a:active {
    color: #c2c2c2;
    text-decoration: none;
}
.main-nav li .btn:link,
.main-nav li .btn:visited {
    color: #fff;
    font-size: 90%;
}
.main-nav li .btn:hover,
.main-nav li .btn:active {
    color: #c2c2c2;
    font-size: 90%;
}
.btn:link,
.btn:visited,
input[type=submit]{ /*stile comune dei bottoni*/
  display: inline-block;/* in modo da poterli dare le proprietà margin e padding*/
  padding: 10px 30px;
  font-weight: 300;
  font-size: 90%;
  -webkit-transition: background-color 0.2, color 0.2;
  transition: background-color 0.2, color 0.2;/*proprietà del css 3. c'è la transizione da un colore ad un altro. In pratica quando passo il mouse sopra un link il colore non cambia instantaneamente ma in un periodo di 0.2 ms*/
  cursor:pointer;
  color: #fff;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]
{
  background-color: #e62d18;
  color: #fff;
  border-radius: 60px;
}
/*bottone invia form*/
input[type=submit]{
    border:0;
    text-decoration: underline;
}
.btn-login:link,
.btn-login:visited{
  border: 2px solid #e62d18;
  color: #fff;
  border-radius: 60px;
  text-transform: uppercase;
  background-color: #7b241b;
  text-decoration: none;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover{
  background-color: #7b241b;
  text-decoration: none;
}
.last{ /* solo l'ultimo elemento di tipo div*/
  font-size: 100%;
  padding: 10px 30px;
  font-weight: 700;
}
.main-nav li a:nth-last-child(1){
    padding:10px 10px;
}
header .row{
  text-align: center;
}
.slogan{
  padding-top: 20%;
  width:auto;
}


/* ------SEZIONE CORSI-------*/
.section-corsi{
  background-color: #f7f7f7;
/*  max-height: auto;*/ /*aumenta finche il contenuto sta dentro il contenitore*/
  min-height: 100vh;
  font-size: 85%;
  /*overflow: hidden;*/
}
.allenati{
  margin-top: 30px;
}
.icon-big {
    font-size: 350%;
    display: block;
    color: #e62d18;
    margin-bottom: 10px;
}

/*---------SEZIONE ALLENATORI----------*/
.trainers .long-copy {
    margin-bottom: 50px;
    color: #000;
}
.trainers{
    background-color: #f7f7f7;
    color: #000;
    min-height: 100vh;
    max-height: auto;
    font-size: 90%;
}
.trainers .long-copy{
  margin-top: 60px;
}
.trainers .col:first-child {
    margin-left: 0;
}
.pt-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.pt-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.pt-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*------ IMAGINE SOTTOFONDO----*/

.personal-trainer {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.1))), url(img/prova-section2.jpg);
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(img/prova-section2.jpg);
      background-size: cover;
      background-position: center;
      height: 40vh;
      background-attachment: fixed;
}
.personal-trainer2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.1))), url(img/prova-section3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(img/prova-section3.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  background-attachment: fixed;
}
.personal-trainer3 {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.1))), url(img/prova-section4.jpg);
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(img/prova-section4.jpg);
      background-size: cover;
      background-position: center;
      height: 40vh;
      background-attachment: fixed;
}

/*sezione abbonamenti*/
.section-plans {
    background-color: #f7f7f7;
    min-height: 100vh;
    max-height: auto;
    font-size: 90%;
}
.section-plans h2{
  margin-top: 15%;
}
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child {
    text-align: center;
    border: 0;
}
.plan-price {
    font-size: 270%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e62d18;
}
.plan-price span {
    font-size: 30%;
    font-weight: 300;
}
.plan-price-abb {
    font-size: 80%;
}
.plan-box ul {
    list-style: none;
}
.plan-box ul li {
    padding: 5px 0;
}
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */
footer {
    background-color: #333;
    padding: 10px;
    font-size: 80%;
    height: auto;
}
.footer-nav {
    list-style: none;
    float: left;
    font-size: 120%;
}
.center{
text-align: center;
}
.social-links {
    list-style: none;
    float: right;
    font-size: 120%;
    padding-right: 20%;
}
.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
    text-decoration: none;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.ion-social-facebook:hover {
    color: #3b5998;
}
.ion-social-twitter:hover {
    color: #00aced;
}
.ion-social-googleplus:hover {
    color: #dd4b39;
}
.ion-social-instagram:hover {
    color: #517fa4;
}
footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
.indirizzo{
  float:right;
  font-size: 120%;
  list-style: none;
  padding-right: 20%;
}
.indirizzo li span{
  border: 0;
  color: #888;
}
.indirizzo li span a{
  color:#888;
}

/*------Contattaci---*/
.section-form{
min-height:100vh;
max-height: auto;
}
.section-form h2{
  margin-top: 7%;
  margin-bottom: 9%;
}
.contact-form{
width: 60%;
margin: 0 auto; /*per centrare il contenuto*/
}
input[type=text],
input[type=email],
select,
textarea{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border:1px solid #ccc;
}
textarea{
  height: 100px;
}
input[type=checkbox]{
  margin: 10px 5px 10px 0;

}
